# coding: utf-8
<center>
<h1>Agregador de Informações para microblog</h1>
<p>
ETEP Faculdades - Trabalho de Conclusão de Curso - 2011</br>
Engenharia da Computação</br></br>
Luciano Rodrigues Costa - 071240
</p>
</center>
