<div data-role="header" data-theme="b"> 
	<h1><%= @assunto.nome %></h1> 
</div><!-- /header -->

<div data-role="content">
	<%= link_to "Áreas", areas_mobile_path(@assunto.id), "data-role" => "button", "data-theme" => "d"%>
	<%= link_to "Informações", mobile_info_path, "data-role" => "button", "data-rel" => "dialog", "data-transition" => "pop", "data-theme" => "d"%>
	
</div><!-- /content -->