<div data-role="header" data-theme="b" data-rel="back"> 
	<h1>Informações</h1> 
</div><!-- /header -->

<div data-role="content" data-theme="b">
	
	<ul data-role="listview" data-inset="true">
		<li><%= @assunto.nome %></li>
		<li><%= @assunto.info %></li>
	</ul>
</div><!-- /content -->

<div data-role="footer" data-theme="b">
</div><!-- /content -->