<div data-role="header" data-theme="b">
	<%= link_to "Voltar", "#", "data-rel" => "back", "data-direction" => "reverse", "data-icon" => "arrow-l" %>
	<h1><%= @area.nome%></h1>
</div><!-- /header -->

<div data-role="content" data-theme="b">
	<ul data-role="listview" data-theme="d">
		<% @categorias.each do |categ| %>
			<li>
				<%= link_to categ.nome, perfis_mobile_path(categ.id) %>
			</li>
		<% end %>
	</ul>

</div><!-- /content -->